.footerWrapper{
    max-width: 1000px;
    margin: 0 auto;
    color: #6C757D;
}

.footer{
    margin-top: 50px;
    padding-top:13px;
    padding-bottom: 17px;
    border-top: 1px solid #CED4DA; 
    align-items: center;
}

.footerNav{   
font-size: 16px;
font-weight: 400;
line-height: 16px;
display: flex;
justify-content: space-between;

}

