.nav{   
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    
    }

.button{
    color:#055160;
    border: 1px solid #DEE2E6;
    padding: 12px 14px;
}

.inactive{
    color:#ABB5BE;
}

.button:hover{
    cursor: pointer;
    background-color: #055160;
    color:#fff;
    transform: scale(1.1)
}

.select{
    display: flex;
    align-items: center;
    gap: 12px;
}

.select-text{
    color:#000;
}

.select{

    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 9px 15px;
    width: 120px;
}

/* .footer-select select:after{
    color:gray;
    content: url(../img/Vector.svg);
    padding-right: 17px;
} */