.nav {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

.button {
  color: #055160;
  border: 1px solid #dee2e6;
  padding: 12px 14px;
}
.buttonhover:hover {
  cursor: pointer;
  background-color: #055160;
  color: #fff;
  transform: scale(1.1);
}
.active {
  background-color: #055160;
  color: #fff;
  transform: scale(1.1);
}
.inactive {
  color: #abb5be;
}

.drop {
  display: flex;
  gap: 12px;
  align-items: center;
}
.select {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 9px 15px;
  width: 120px;
}
